.mediumSize {
    width: 70% !important;
}
.smallSize {
    width: 40% !important;
}
.modal-dialog {
    max-width: 100% !important;
}
img{
    width:10%;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding-top: 40px;
}