<div ng-controller="ModalCadastroController">
    <div class="row">
        <div class="col-12 form-group">
            <h3>Cadastrar Paciente</h3>
        </div>
        <div class="col-8 form-group">
            <label for="numProntuario">Número do Prontuário</label>
            <input class="form-control" maxlength="12" type="text" ng-model="paciente.numProntuario" ui-hide-group-sep ui-number-mask="0">
        </div>
        <div class="col-12 form-group">
            <label for="nomePaciente">Nome do Paciente</label>
            <input class="form-control" type="text" placeholder="Nome do paciente" ng-model="paciente.nomePaciente">
        </div>
        <div class="col-12 form-group">
            <label for="nomeMae">Nome da Mãe</label>
            <input class="form-control" type="text" placeholder="Nome da mãe" ng-model="paciente.nomeMae">
        </div>
        <div class="col-6 form-group">
            <label>Data de nascimento </label>
            <input class="form-control" type="date" ng-model="paciente.dataNascimento" ng-change="calcularIdade()">
        </div>

        <div class="col-2 form-group">
            <label for="idade">Idade</label>
            <input type="text" ng-disabled="true" ng-model="paciente.idade" class="form-control">
        </div>

        <div class="col-4 form-group">
            <label>Sexo</label>
            <span class="clearfix"></span>
            <label class="custom-control custom-radio">
                <input id="feminino" name="genero" type="radio" class="custom-control-input ml-4" ng-model="paciente.genero" ng-value="'Masculino'">
                <span class="custom-control-indicator p-3"></span>
                <span for="feminino" class="custom-control-description ml-4 mt-2">Masculino</span>
            </label>

            <label class="custom-control custom-radio">
                <input id="masculino" name="genero" type="radio" class="custom-control-input ml-4" ng-model="paciente.genero" ng-value="'Feminino'">
                <span class="custom-control-indicator p-3"></span>
                <span for="masculino" class="custom-control-description ml-4 mt-2">Feminino</span>
            </label>
        </div>
        <div class="col-12 form-group text-right">
            <button type="button" class="btn btn-danger" ng-click="closeThisDialog(false)">Cancelar</button>
            <button type="button" class="btn btn-success" ng-click="cadastrarPaciente()">Cadastrar</button>
        </div>
    </div>
</div>
