<div ng-controller="pedidoInternacaoController">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Internação</span>
        </li>
        <li class="breadcrumb-item active">
            <span> Pedido de Internação</span>
        </li>
    </ol>
    <div class="col-lg-12 kan-row">
        <!-- PACIENTE -->
        <fieldset class="col-lg-6 col-sm-12 kan-group">
            <h4 class="padding-bottom kan-title">Dados do Paciente
                <i class="fa fa-plus fa-1-x kan-icon" ng-click="openModalCadastro()" tooltip-side="bottom" tooltips tooltip-template="Cadastrar paciente"></i>
                <i class="fa fa-search fa-1-x kan-icon" ng-click="openModalPesquisa()" tooltip-side="bottom" tooltips tooltip-template="Pesquisar paciente"> </i>
            </h4>
            <div class="col-lg-4 kan-group no-padding-left">
                <label for="numProntuario">Prontuário<b class="text-danger">*</b></label>
                <input class="form-control" type="number" placeholder="Digite o prontuário" ng-change="GetPaciente()" ng-model="pedidoInternacao.numProntuario">
            </div>

            <div class="col-lg-8 kan-group no-padding-left ">
                <label for="nomePaciente">Nome do Paciente<b class="text-danger">*</b></label>
                <input disabled class="form-control" type="text" placeholder="Digite o nome do paciente" ng-model="pedidoInternacao.nomePaciente">
            </div>

            <div class="col-lg-12 kan-group no-padding-left ">
                <label for="nomeMae">Nome da Mãe <b class="text-danger">*</b> </label>
                <input disabled class="form-control" type="text" placeholder="Digite o nome da mãe do paciente" ng-model="pedidoInternacao.nomeMae">
            </div>

            <div class="col-lg-6 kan-group no-padding-left">
                <label>Data de nascimento<b class="text-danger">*</b></label>
                <input disabled class="form-control" type="date" ng-model="pedidoInternacao.dataNascimento" ng-change=" calcularIdade()"
                    value="">
            </div>
            <div class="col-lg-6 kan-group no-padding-left">
                <label for="idade">Idade<b class="text-danger">*</b></label>
                <input disabled type="text" ng-model="pedidoInternacao.idade" class="form-control">
            </div>
            <div class="col-lg-12 kan-group no-padding-left">
                <label>Sexo</label><b class="text-danger">*</b>
                <span class="clearfix"></span>
                <label class="custom-control custom-radio">
                    <input disabled id="feminino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty" ng-model="pedidoInternacao.genero" ng-value="'Masculino'" value="Masculino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="feminino" class="custom-control-description ml-4 mt-2">Masculino</span>
                </label>

                <label class="custom-control custom-radio">
                    <input  disabled id="masculino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty" ng-model="pedidoInternacao.genero" ng-value="'Feminino'" value="Feminino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="masculino" class="custom-control-description ml-4 mt-2">Feminino</span>
                </label>
            </div>
        </fieldset>
        <!-- PEDIDO INTERNACAO -->
        <fieldset class="col-lg-6 col-sm-12 kan-group ">
            <h4 class="padding-bottom  kan-title">Pedido Internação
                <i class="fa fa-info fa-1-x kan-icon" tooltip-side="bottom" tooltips tooltip-template="Dados para solicitar a internação do paciente."></i>
            </h4>
            <div ng-hide="true" class="col-lg-12 kan-group no-padding-left">
                <label>Data do pedido </label>
                <input class="form-control" type="date" ng-model="pedidoInternacao.dataPedido" ng-disabled="true">
            </div>

            <div ng-hide="true" class="col-lg-12 kan-group no-padding-left">
                <label for="Status">Status</label>
                <select class="form-control" ng-model="pedidoInternacao.status" ng-disabled="true">
                    <option value="">Selecione </option>
                    <option value="Pendente">Pendente</option>
                    <option value="Em Andamento">Em Andamento</option>
                    <option value="Concluído">Concluído</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
            <div class="col-lg-4 kan-group no-padding-left">
                <label for="aih">AIH<b class="text-danger">*</b></label>
                <input class="form-control" type="number" placeholder="Digite a AIH" ng-model="pedidoInternacao.AIH">
            </div>
            <div class="col-lg-8 kan-group no-padding-left">
                <label>Diagnóstico<b class="text-danger">*</b></label>
                <select class="form-control" ng-model="pedidoInternacao.idDiagnostico">
                    <option value="">Selecione </option>
                    <option ng-repeat="diagnostico in Diagnosticos" value="{{diagnostico.idDiagnostico}}">{{diagnostico.descricaoDiagnostico}}</option>
                </select>
            </div>
            <div class="col-lg-8 kan-group no-padding-left">
                <label>Ala<b class="text-danger">*</b></label>
                <select ng-model="pedidoInternacao.idAla" class="form-control">
                    <option value="">Selecione</option>
                    <option ng-repeat="ala in Alas" value="{{ala.idAla}}">{{ala.nomeAla}}</option>
                </select>

            </div>
            <div class="col-lg-4 kan-group no-padding-left">
                <label>Data de admissão<b class="text-danger">*</b></label>
                <input class="form-control" type="date" ng-model="pedidoInternacao.dataAdmissao">
            </div>
            <div class="col-lg-12 kan-group no-padding-left">
                <label>Médico Responsável<b class="text-danger">*</b></label>
                <input type="text" class="form-control" placeholder="Digite o nome do médico responsável" ng-model="pedidoInternacao.medicoResponsavel">
            </div>
            <div class="col-lg-12 kan-group no-padding-left">
                <label>Residente Responsável<b class="text-danger">*</b></label>
                <input type="text" class="form-control" placeholder="Digite o nome do residente responsável" ng-model="pedidoInternacao.residenteResponsavel">
            </div>

            <div class="col-lg-12 kan-group no-padding-left text-right">
                <button class="btn btn-kan" ng-click="salvarPedidoInternacao()">Solicitar Internação </button>
            </div>
        </fieldset>
    </div>
</div>