<div ng-controller="leitosController">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">Relatórios</a>
        </li>
        <li class="breadcrumb-item active">Leitos</li>
    </ol>

    <div class="row">
        <div class="col-4 from-group">
            <label for="search">Busca</label>
            <input id="search" class="form-control" type="text" ng-model="search" placeholder="pesquise...">
        </div>
        <div class="col-sm-12 form-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ala</th>
                        <th>Enfermaria</th>
                        <th>Leito</th>
                        <th>Tipo Leito</th>
                        <th>Gênero Leito</th>
                        <th>Status Leito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="estrutura in Leitos | filter : search">
                        <td>{{$index+1}}</td>
                        <td>{{estrutura.ala.nomeAla}}</td>
                        <td>{{estrutura.enfermaria.nomeEnfermaria}}</td>
                        <td>{{estrutura.nomeLeito}}</td>
                        <td>{{estrutura.tipoLeito}}</td>
                        <td>{{estrutura.generoLeito}}</td>
                        <td>{{estrutura.statusLeito}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-right">
        <button class="btn btn-primary" ng-click="changePage(actualPage - 1)">
                <i class="fa fa-caret-left"></i>
        </button>
        <button class="btn btn-primary" ng-repeat="page in pages" ng-click="changePage(page)">{{page}}</button>
        <button class="btn btn-primary" ng-click="changePage(actualPage + 1)">
                <i class="fa fa-caret-right"></i>
        </button>
    </div>
</div>