<div ng-controller="leitosController">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Relatórios</span>
        </li>
        <li class="breadcrumb-item active">
            <span> Leitos </span>
        </li>
    </ol>

    <div class="col-lg-12 col-sm-12 kan-row">
        <div class="col-lg-6 col-sm-12 padding-bottom">
            <h5 for="search">Busca
                <i class="fa fa-info fa-1-x kan-icon" tooltip-side="bottom" tooltips tooltip-template="Campo para filtrar dados na lista exibida."></i>
            </h5>
            <input id="search" class="form-control" type="text" ng-model="search" placeholder="Digite para pesquisar">
        </div>
        <div class="col-lg-12 col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ala</th>
                        <th>Enfermaria</th>
                        <th>Leito</th>
                        <th>Tipo Leito</th>
                        <th>Gênero Leito</th>
                        <th>Status Leito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="estrutura in Leitos | filter : search">
                        <td>{{estrutura.ala.nomeAla}}</td>
                        <td>{{estrutura.enfermaria.nomeEnfermaria}}</td>
                        <td>{{estrutura.nomeLeito}}</td>
                        <td>{{estrutura.tipoLeito}}</td>
                        <td>{{estrutura.generoLeito}}</td>
                        <td>{{estrutura.statusLeito}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" col-lg-12 col-sm-12 text-right padding-bottom">
            <button class="btn btn-kan" ng-click="changePage(actualPage - 1)">
                <i class="fa fa-caret-left"></i>
            </button>
            <button class="btn btn-kan" ng-repeat="page in pages" ng-click="changePage(page)">{{page}}</button>
            <button class="btn btn-kan" ng-click="changePage(actualPage + 1)">
                <i class="fa fa-caret-right"></i>
            </button>
        </div>
    </div>


</div>