.jumbotron {
    background-color: #fcfcfc !important;
}
.kan-row{
  background-color: #fcfcfc !important;
  padding-top: 20px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 20px !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}
.kan-group{
   float:left;
  padding-bottom: 10px !important;
   
}

.kan-title{
    color: #000000;
    
}
.kan-icon {
    color: #28ad98;
}
.breadcrumb{
    background-color: #fcfcfc !important;
}
.container-kan {
    float: left;
    width: 100%;
    min-height: 100%;
}

.mediumSize {
    width: 70% !important;
}
.smallSize {
    width: 40% !important;
}
.modal-dialog {
    max-width: 100% !important;
}
a > img{
    width:30%;
}


@media only screen and (max-width: 768px) {
a > img{
    width:65%
}
.navbar-dark .navbar-toggler{
    margin-left: 12%;
}
}


.navbar-dark .navbar-toggler{
    margin-left: 12%;
}


#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding-top: 40px;
}

span.nav-link-text {
    padding-left: 20px;
}
/* end Dropzone */
/* errors */
.error-container {
  width: 500px;
  margin: 50px auto 0px;
}
.error-container .error-code {
  float: left;
  width: 100%;
  font-size: 135px;
  line-height: 130px;
  text-align: center;
  color: #333;
  font-weight: 300;
}
.error-container .error-text {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 26px;
  line-height: 24px;
  text-transform: uppercase;
  color: #666;
  text-align: center;
  font-weight: 400;
}
.error-container .error-subtext {
  float: left;
  width: 100%;
  margin: 30px 0px 10px;
  font-size: 13px;
  line-height: 20px;
  color: #AAA;
  text-align: center;
  font-weight: 400;
}
.error-container .error-actions {
  float: left;
  width: 100%;
  margin-top: 10px;
}
/* end errors */

.form-group ::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
.form-group ::-moz-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
.form-group :-ms-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
.form-group input:-o-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f } /*opera*/

.btn-circle {
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    font-size: 13px;
    padding: unset;
}

.btn-dark {
    background-color: #000;
    color: #FFF;
}

.btn-search{
    padding: 27px 35px 0px 10px !important;
    border-radius: 15px !important;
    margin-left: -10px !important;
    z-index: 1 !important;
}

thead {
    background: rgba(230, 230, 230, 0.2) !important;
    font-size: 14px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
    background: #fff !important; 
}

.main-title {
    color: #0078d7;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 700;
    margin-bottom: 25px;
}


down vote
accepted
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.iconForm i.fa {
    right: 6px;
}

.iconForm button{
    position: absolute;
    top: -15px;
    left: 5px;
}

.height-card{
    height: 150px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #22262e !important;
}
.content-wrapper{
    padding-bottom: 30px;
}

.table{
    font-size: 12px;
    table-layout: fixed;
}

.padding-bottom{
    padding-bottom: 15px;
}

.no-padding{
    padding: 0px !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

table td { 
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}