<div ng-controller="ModalCadastroController">
    <div class="col-lg-12 kan-row">
        <!-- PACIENTE -->
        <fieldset class="col-lg-12 col-sm-12 kan-group">
            <h4 class="padding-bottom kan-title">Cadastrar Paciente
                <i class="fa fa-info fa-1-x kan-icon" tooltip-side="bottom" tooltips tooltip-template="Tela para cadastrar um novo paciente"></i>
            </h4>
            <div class="col-lg-4 kan-group no-padding-left">
                <label for="numProntuario">Prontuário<b class="text-danger">*</b></label>
                <input class="form-control" type="number" placeholder="Digite o prontuário" ng-model="paciente.numProntuario">
            </div>

            <div class="col-lg-8 kan-group no-padding-left ">
                <label for="nomePaciente">Nome do Paciente<b class="text-danger">*</b></label>
                <input class="form-control" type="text" placeholder="Digite o nome do paciente" ng-model="paciente.nomePaciente">
            </div>

            <div class="col-lg-12 kan-group no-padding-left ">
                <label for="nomeMae">Nome da Mãe <b class="text-danger">*</b> </label>
                <input class="form-control" type="text" placeholder="Digite o nome da mãe do paciente" ng-model="paciente.nomeMae">
            </div>

            <div class="col-lg-6 kan-group no-padding-left">
                <label>Data de nascimento<b class="text-danger">*</b></label>
                <input class="form-control" type="date" ng-model="paciente.dataNascimento" ng-change=" calcularIdade()" value="">
            </div>
            <div class="col-lg-6 kan-group no-padding-left">
                <label for="idade">Idade<b class="text-danger">*</b></label>
                <input disabled type="text" ng-model="paciente.idade" class="form-control">
            </div>
            <div class="col-lg-12 kan-group no-padding-left">
                <label>Sexo</label><b class="text-danger">*</b>
                <span class="clearfix"></span>
                <label class="custom-control custom-radio">
                    <input  id="feminino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty" ng-model="paciente.genero" ng-value="'Masculino'" value="Masculino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="feminino" class="custom-control-description ml-4 mt-2">Masculino</span>
                </label>

                <label class="custom-control custom-radio">
                    <input   id="masculino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty" ng-model="paciente.genero" ng-value="'Feminino'" value="Feminino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="masculino" class="custom-control-description ml-4 mt-2">Feminino</span>
                </label>
            </div>
            <div class="col-lg-12 kan-group no-padding-left text-right">
                <button type="button" class="btn btn-danger" ng-click="closeThisDialog(false)">Cancelar</button>
                <button type="button" class="btn btn-kan" ng-click="cadastrarPaciente()">Cadastrar</button>
            </div>
        </fieldset>
    </div>
</div>