<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="cadastroPaciente.html">Internação</a>
    </li>
    <li class="breadcrumb-item active">Novo Paciente</li>
</ol>
<div class="jumbotron" ng-controller="pacienteController">
    <form>
        <div class="container">
            <div class="col-lg-12 well">
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Número do Prontuário</label>
                                <input type="text" maxlength="12" pattern="([0-9]{12})"ng-model="paciente.prontuario" placeholder="Digite o número do prontuário" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group col-sm-18">
                            <label>Nome do Paciente: </label>
                            <input type="text" ng-model="paciente.nome" placeholder="Digite o nome do paciente" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Nome da mãe: </label>
                            <input type="text" ng-model="paciente.mae" placeholder="Digite o nome da mãe do paciente" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Data de nascimento:</label>
                                <input class="form-control" type="date" ng-model="paciente.nascimento" ng-change="paciente.idade = calcularIdade(paciente.nascimento)">
                            </div>

                            <div class="col-sm-4 form-group">
                                <label>Idade</label>
                                <input type="text" ng-model="paciente.idade" placeholder="Idade do paciente" class="form-control">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Sexo: </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" ng-model="paciente.sexo" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Feminino" checked>
                                        Feminino 
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" ng-model="paciente.sexo" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Masculino">
                                        Masculino
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="button" ng-click="salvarPaciente()" class="btn btn-lg btn-info">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> <!-- /.jumbotron --> 
