<div ng-controller="ModalPesquisaPedidoInternacaoController" ng-init="carregarPedidos()">
    <div class="row">
        <div class="col-12 form-group">
            <h3>Lista de pedidos de internação</h3>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nº Prontuário</th>
                        <th>Nome do Paciente</th>
                        <th>Nome da mãe</th>
                        <th>Data de nascimento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pedido in ListaPedidos">
                        <td>{{pedido.paciente.numProntuario}}</td>
                        <td>{{pedido.paciente.nomePaciente}}</td>
                        <td>{{pedido.paciente.nomeMae}}</td>
                        <td>{{pedido.paciente.dataNascimento}}</td>
                        <td>
                            <button class="btn btn-info" ng-click="closeThisDialog(pedido)">
                                Escolher
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>