<html ng-app="kanleitos">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KanLeitos</title>
    <link href="../resources/css/kan.css" rel="stylesheet">
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="../resources/css/sb-admin.css" rel="stylesheet">
    <link href="../resources/fonts.css" rel="stylesheet" type="text/css">
    <link href="../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="../resources/js/jquery/jquery.min.js"></script>
    <script src="../resources/js/jquery/jquery.easing.min.js"></script>
    <script src="../resources/js/jquery/jquery.dataTables.js"></script>
    <script src="../resources/js/popper.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="../resources/js/dataTables.bootstrap4.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../node_modules/sweetalert2/src/sweetalert2.js"></script>
    <script src="../app.js"></script>

    <script src="../resources/js/controllers/internacao/pedidoInternacaoController.js"></script>
    <script src="../resources/js/sweetalert.min.js"></script>

    <!--<script src="bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>-->

    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

</head>

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">KanLeitos</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item " data-toggle="tooltip" data-placement="right" title="Alas e Leitos">
                    <a class="nav-link" href="#">
                        <i class="fa fa-bed"></i>
                        <span class="nav-link-text">
                            Alas e Leitos</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Internação">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-plus-square"></i>
                        <span class="nav-link-text">
                            Internação</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="#">Solicitar Internação</a>
                        </li>
                        <li>
                            <a href="#">Registrar Internação</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Relatórios">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                        <i class="fa fa-file-text"></i>
                        <span class="nav-link-text">
                            Relatórios</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="#">Altas</a>
                        </li>
                        <li>
                            <a href="#">Leitos</a>
                        </li>
                        <li>
                            <a href="#">Lista de Espera (Leitos)</a>
                        </li>
                        <li>
                            <a href="#">Médias de Permanência</a>
                        </li>
                        <li>
                            <a href="#">Pacientes Internados</a>
                        </li>
                        <li>
                            <a href="#">Óbitos</a>
                        </li>
                        <li>
                            <a href="#">Taxas de Ocupação</a>
                        </li>
                        <li>
                            <a href="#">Transferências</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Área do usuário">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-user-md"></i>
                        <span class="nav-link-text">
                            Área do Usuário</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a href="#">Editar Meus Dados</a>
                        </li>
                        <li>
                            <a href="#">Cadastrar Novo Usuário</a>
                        </li>
                        <li>
                            <a href="#">Lista de Usuários</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <h7 style="color: white"> Seja bem-vindo(a), Nome do Usuário</h7>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>
                        Sair</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="cadastroPaciente.html">Internação</a>
                </li>
                <li class="breadcrumb-item active">Solicitar Internação</li>
            </ol>

            <div class="jumbotron" ng-controller="pedidoInternacaoController">
                <form>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button data-toggle="modal" data-target="#cadastroPaciente" class="btn btn-primary btn-info" title="Cadastrar novo paciente">Cadastrar novo paciente </button>                            &nbsp;&nbsp;
                            <button data-toggle="modal" data-target="#modalPesquisa" class="btn btn-primary btn-info " title="Pesquisar paciente">
                               Pesquisar paciente
                               <i class="fa fa-search" > </i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label>Data do pedido </label>
                            <input class="form-control" type="date" ng-model="pedidoInternacao.DataPedido" ng-disabled="true" value="" id="dataPedido">
                        </div>

                        <div class="col-sm-2 form-group">
                            <label for="Status">Status</label>
                            <select class="form-control" id="Status" ng-model="pedidoInternacao.Status" ng-disabled="true">
                                 <option value="">Selecione </option>
                                <option  value="Pendente">Pendente</option>
                                <option  value="Em Andamento">Em Andamento</option>
                                <option  value="Concluído">Concluído</option>
                                <option  value="Cancelado">Cancelado</option>
                            </select>
                        </div>
                        <div class="col-sm-4 form-group ">
                            <label for="aih" class="col-2 col-form-label">AIH</label>
                            <input class="form-control" type="number" id="aih" ng-model="pedidoInternacao.AIH">
                        </div>
                        <div class="col-sm-6 form-group ">
                            <label for="numProntuario">Número do Prontuário</label>
                            <input class="form-control" type="number" value="" id="numProntuario" ng-change="GetPaciente()" ng-model="pedidoInternacao.NumProntuario">
                        </div>

                        <div class="col-sm-6 form-group ">
                            <label for="nomePaciente">Nome do Paciente</label>
                            <input class="form-control" type="text" value="Nome" id="nomePaciente" ng-model="pedidoInternacao.NomePaciente">
                        </div>

                        <div class="col-sm-2 form-group">
                            <label>Data de nascimento </label>
                            <input class="form-control" type="date" ng-model="pedidoInternacao.DataNascimento" value="" id="dataNascimento">
                        </div>
                        <div class="col-sm-2 form-group ">
                            <label for="idade" class="col-2 col-form-label">Idade</label>
                            <input type="number" ng-model="pedidoInternacao.Idade" ng-bind="{{ calcularIdade(pedidoInternacao.DataNascimento) }}" class="form-control">
                        </div>
                        <div class="col-sm-4 form-group ">
                            <label>Sexo </label>
                            </br>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" ng-model="pedidoInternacao.Genero" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Feminino"
                                        checked> Feminino
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" ng-model="pedidoInternacao.Genero" type="radio" name="inlineRadioOptions" id="sexoMasc" value="Masculino"> Masculino
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-md-4">
                            <label>Diagnóstico </label>
                            <select class="form-control" ng-model="pedidoInternacao.IdDiagnostico">
                                <option value="">Selecione </option>
                                <option ng-repeat="diagnostico in Diagnosticos" value="{{diagnostico.idDiagnostico}}">{{diagnostico.descricaoDiagnostico}}</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6 col-md-4">
                            <label>Ala</label>
                            <select ng-model="pedidoInternacao.IdAla" class="form-control">
                                <option value="">Selecione</option>
                                <option ng-repeat="ala in Alas" value="{{ala.idAla}}">{{ala.nomeAla}}</option>
                            </select>

                        </div>
                        <div class="col-sm-2 form-group">
                            <label>Data de admissão </label>
                            <input class="form-control" type="date" ng-model="pedidoInternacao.DataAdmissao" value="" id="dataAdmissao">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Médico Responsável </label>
                            <input type="text" class="form-control" placeholder="Médico Responsável" ng-model="pedidoInternacao.MedicoResponsavel">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Residente </label>
                            <input type="text" class="form-control" placeholder="Residente Responsável" ng-model="pedidoInternacao.ResidenteResponsavel">
                        </div>
                    </div>

                </form>
                <div class="col-sm-12 text-right">
                    <button class="btn btn-primary btn-primary" ng-click="salvarPedidoInternacao()">Solicitar Internação </button>
                </div>
            </div>

        </div>
    </div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright &copy; KanLeitos 2017</small>
            </div>
        </div>
    </footer>
    <a class="scroll-to-top rounded" href="#/page-top">
            <i class="fa fa-angle-up"></i>
        </a>

    <!-- MODAL DE CADASTRO -->
    <div class="modal fade" id="cadastroPaciente" ng-controller="pedidoInternacaoController" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog smallSize">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                    <h3 class="modal-title" id="lineModalLabel">Cadastrar Paciente</h3>
                </div>
                <div class="modal-body">

                    <!-- content goes here -->
                    <form>
                        <div class="form-group ">
                            <label for="numProntuario" class="col-6 col-form-label">Número do Prontuário</label>
                            <input class="form-control" type="number" value="" ng-model="pedidoInternacao.numProntuario">
                        </div>
                        <div class="form-group ">
                            <label for="nomePaciente" class="col-6 col-form-label">Nome do Paciente</label>
                            <input class="form-control" type="text" placeholder="Nome do paciente" ng-model="pedidoInternacao.nomePaciente">
                        </div>
                        <div class="form-group ">
                            <label for="nomeMae" class="col-4 col-form-label">Nome da Mãe</label>
                            <input class="form-control" type="text" placeholder="Nome da mãe" ng-model="pedidoInternacao.nomeMae">
                        </div>
                        <div class="form-group">
                            <label>Data de nascimento </label>
                            <input class="form-control" type="date" value="" ng-model="pedidoInternacao.dataNascimento">
                        </div>
                        <div class="form-group ">
                            <label for="idade" class="col-2 col-form-label">Idade</label>
                            <input type="number" ng-model="pedidoInternacao.idade" ng-bind="{{ calcularIdade(pedidoInternacao.dataNascimento) }}" class="form-control">
                        </div>

                        <div class="form-group ">
                            <label>Sexo </label>
                            </br>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                            <input type="radio" ng-model="pedidoInternacao.genero" class="form-check-input" name="optionsRadios"  value="Feminino"
                                                checked> Feminino
                                        </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                            <input class="form-check-input" ng-model="pedidoInternacao.genero" type="radio" name="inlineRadioOptions" id="sexoMasc" value="Masculino"> Masculino
                                        </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-danger" data-dismiss="modal" role="button">Cancelar</button>
                        </div> &nbsp;
                        <div class="btn-group" role="group">
                            <button type="button" id="cadastroP" class="btn btn-success" data-action="save" role="button" ng-click="cadastrarPaciente()">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL DE PESQUISA -->
    <div class="modal fade" id="modalPesquisa" ng-init="carregarPacientes()" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true" ng-controller="pedidoInternacaoController">
        <div class="modal-dialog mediumSize">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                    <h3 class="modal-title" id="lineModalLabel">Lista de Pacientes</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nº Prontuário</th>
                                <th>Nome do Paciente</th>
                                <th>Nome da mãe</th>
                                <th>Data de nascimento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="paciente in ListaPacientes">
                                <td>{{paciente.numProntuario}}</td>
                                <td>{{paciente.nomePaciente}}</td>
                                <td>{{paciente.nomeMae}}</td>
                                <td>{{paciente.dataNascimento}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 ">
                        <div class="result pull-left">
                            <strong>Mostrando 1 até 6 de 5000</strong>
                        </div>

                        <ul class="pagination pull-right">
                            <li>
                                <a href="#">«</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">»</a>
                            </li>
                        </ul>
                        <br>
                        <br>
                        <button type="button" id="fecharModal" class="btn btn-default" data-dismiss="modal" role="button">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação de saída</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                </div>
                <div class="modal-body">
                    Clique em "Sair" para finalizar a sessão atual.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="login.html">Sair</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>