<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="">Internação</a>
    </li>
    <li class="breadcrumb-item active">Registrar Internação</li>
</ol>

<div class="jumbotron" ng-controller="registroInternacaoController" class="col-12 col-md-auto">
    <form>
        <div class="row">
            <div class="col-12 form-group">
                <h3>Registrar Internação</h3>
            </div>
            <div class="col-12">
                <legend> Dados do Pedido de Internação </legend>
            </div>
            <div class="col-sm-4 form-group ">
                <label for="numProntuario">Número do Prontuário</label>
                <div class="input-group">
                    <input class="form-control" type="number" ng-model="registroInternacao.numProntuario" ng-change="GetPedido()" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg btn-search" type="button" ng-click="openModalPesquisaPedidoInternacao()">
                            <i class="fa fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group ">
                <label for="aih">AIH</label>
                <input ng-disabled="true" class="form-control" type="number" ng-model="registroInternacao.AIH">
            </div>

            <div class="col-sm-6 form-group ">
                <label for="nomePaciente">Nome do Paciente</label>
                <input ng-disabled="true" class="form-control" type="text" ng-model="registroInternacao.nomePaciente">
            </div>

            <div class="col-sm-6 form-group ">
                <label for="nomeMae">Nome da Mãe</label>
                <input ng-disabled="true" class="form-control" type="text" ng-model="registroInternacao.nomeMae">
            </div>

            <div class="col-sm-3 form-group">
                <label>Data de nascimento:</label>
                <input ng-disabled="true" class="form-control" type="date" ng-model="registroInternacao.dataNascimento" ng-change="paciente.idade = calcularIdade(paciente.nascimento)">
            </div>

            <div class="col-sm-2 form-group">
                <label for="idade">Idade</label>
                <input ng-disabled="true" type="text" ng-model="registroInternacao.idade" class="form-control">
            </div>

            <div class="col-sm-4 form-group ">
                <label>Sexo </label>
                </br>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input ng-disabled="true" type="radio" ng-model="registroInternacao.genero" class="form-check-input" value="Feminino" checked> Feminino
                    </label>
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input ng-disabled="true" class="form-check-input" ng-model="registroInternacao.genero" type="radio" value="Masculino"> Masculino
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6 col-md-4 iconForm">
                <label>Diagnóstico</label>
                <button tooltips tooltip-template="{{(registroInternacao.nomeDiagnostico) ? registroInternacao.nomeDiagnostico : 'Pesquise um pedido primeiro'}}" class="btn-circle btn-dark">
                    <i class="fa fa-eye"></i>
                </button>
                <input ng-disabled="true" class="form-control" type="text" ng-model="registroInternacao.nomeDiagnostico">
            </div>
            <div class="form-group col-xs-6 col-md-4">
                <label>Ala</label>
                <input ng-disabled="true" class="form-control" type="text" ng-model="registroInternacao.nomeAla">
            </div>
            <div class="col-sm-3 form-group">
                <label>Data de admissão </label>
                <input ng-disabled="true" class="form-control" type="date" ng-model="registroInternacao.dataAdmissao">
            </div>
            <div class="col-sm-6 form-group">
                <label>Médico Responsável </label>
                <input ng-disabled="true" type="text" class="form-control" placeholder="Médico Responsável" ng-model="registroInternacao.medicoResponsavel">
            </div>
            <div class="col-sm-6 form-group">
                <label>Residente Responsável</label>
                <input ng-disabled="true" type="text" class="form-control" placeholder="Residente Responsável" ng-model="registroInternacao.residenteResponsavel">
            </div>


            <div class="col-12">
                <legend> Dados de Registro de Internação </legend>
            </div>


            <div class="col-sm-3 form-group">
                <label for="Status">Enfermaria<b class="text-danger">*</b></label>
                <select ng-model="registroInternacao.idEnfermaria" class="form-control" ng-change="carregarLeitosEnfermaria(registroInternacao.idEnfermaria)">
                    <option value="">Selecione</option>
                    <option ng-repeat="enfermaria in Enfermarias" value="{{enfermaria.idEnfermaria}}">{{enfermaria.nomeEnfermaria}}</option>
                </select>
            </div>

            <div class="col-sm-3 form-group ">
                <label for="numProntuario">Número do Leito<b class="text-danger">*</b></label>
                <select ng-model="registroInternacao.idLeito" class="form-control">
                    <option value="">Selecione</option>
                    <option ng-repeat="leito in Leitos" value="{{leito.idLeito}}">{{leito.nomeLeito + " " + leito.generoLeito.substr(0,1)}}</option>
                </select>
            </div>

            <div class="col-sm-3 form-group">
                <label>Data de internação<b class="text-danger">*</b></label>
                <input class="form-control" type="date" ng-model="registroInternacao.dataInternacao">
            </div>

            <div class="col-sm-3 form-group">
                <label>Data de previsão de alta<b class="text-danger">*</b></label>
                <input class="form-control" type="date" ng-model="registroInternacao.previsaoAlta">
            </div>
        </div>
    </form>
    <div class="col-sm-12 text-right">
        <button class="btn btn-success btn-success" ng-click="salvarRegistroInternacao()">Registrar Internação </button>
    </div>
</div>